/* defines terminal colors for old-school terminal themes
 */

:root {
   --term-green: #00FF33;
   --term-green-dark: #00CC11;
   --term-amber: #FFB000;
   --term-amber-dark: #CC7D00;
   --term-amber-bright: #FFCC00;
   --term-background: #282828;
}

.term-green { color: var(--term-green); }
.term-green-dark { color: var(--term-green-dark); }
.term-amber { color: var(--term-amber); }
.term-amber-dark { color: var(--term-amber-dark); }
.term-amber-bright { color: var(--term-amber-bright); }
.term-background { background: var(--term-background); }
