@import "termcolors.css";

html {
    background: var(--term-background);                                                                                                                                                              
    color: #d3d3d3;
    margin: 0; padding: 0;
}
body {
    margin: 0;
    padding: 2cm;
}
p,a,table,tr,td,ul,li,blockquote,code,textarea {
    font-size: 12pt;
    font-family: Hack, monospace;
}
li { padding-bottom: 0.3em; }

img { 
    margin: 0; padding: 0; 
    width: 100%; height: 100%;
    object-fit: contain;
}
img#avatar { width: 2cm; height: 2cm; }

a:link { color: var(--term-amber-bright); }
a:visited { color: var(--term-amber-dark); }
a:hover { color: var(--term-background); background: var(--term-amber); }
